/dist/
build/
nbproject/
*.class
.idea/
.classpath
.project
.settings/
*.class
src/java/controller/CartAmountControl.java
src/java/controller/CustomerAvatarControl.java
src/java/controller/CustomerInfoControl.java
src/java/dal/DAO.java
src/java/model/InfoLine.java
web/WEB-INF/web.xml

